{erl_opts, [debug_info]}.
{deps, [
  {elli, "3.1.0"},
  {libsodium, ".*", {git, "git://github.com/potatosalad/erlang-libsodium.git", {branch, "master"}}}
]}.

{escript_incl_apps,
 [ssb_viewer]}.
{escript_main_app, ssb_viewer}.
{escript_name, ssb_viewer}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
